{% extends 'main.html' %}

{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-between;">
  <div
    style="border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px; width: 400px; height: fit-content;">
    <h2 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">{{ data1.result.0.name }} of the Day</h2>
    <table style="width: 100%;">
      <tbody>
        {% for item in data1.result.0.table %}
        <tr>
          <td style="font-weight: bold; padding: 5px 0 5px 10px;">{{ item.name }}</td>
          <td>{{ item.value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="margin: 2rem  auto;">
    <h1 style="font-size: 2.5rem; margin-bottom: 20px; text-align: center;">Top Listings</h1>
    <div style="width: 800px; display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 2rem;">
      {% for item in data2.finance.result %}
      <div style="border: 1px solid #ccc; padding: 1rem;">
        <h2 style="text-align: center; font-size: 1.2rem;">{{ item.companyShortName }} ({{ item.ticker }})</h2>
        <p><strong>EPS Actual:</strong> {{ item.epsActual }}</p>
        <p><strong>EPS Estimate:</strong> {{ item.epsEstimate }}</p>
        <p><strong>Surprise Percent:</strong> {{ item.surprisePercent }}</p>
        <p><strong>Rank:</strong> {{ item.rank }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}